{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            {%if empty %}
            <p>Profile not available</p>
            {%else%}
            {{profile.profile_pic}}
            {%endif%}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>{{current_user}}</h4>
            <h5><i>{{current_user.email}}</i></h5>
            <a href="{%url 'updateprofile'%}"><button class="btn btn-md btn-info">Edit Profile</button></a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        </div>
    </div>
</div>
{%endblock%}