{%extends 'base.html'%}
{%load bootstrap3%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">

    <div class="row" style="margin-top: 10%">
        <div class="col-md-3 col-lg-3"></div>

        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
            <form method='POST' enctype="multipart/form-data"
                style="border:1px solid lightgray; padding:10px; border-radius:5px; box-shadow:0px 0px 2px 1px;">
                {%csrf_token%}
                <p>{{ form.as_p }}</p>
                <center><button type='submit' class="btn btn-primary btn-md">Update</button></center>
            </form>
        </div>
        <div class="col-md-3 col-lg-3"></div>

    </div>

</div>
{%endblock%}