form>label {
    margin-top: 10px;
}

body {
    overflow-x: hidden;
}

.panel {
    margin-top: 25%;
}

.success {
    text-align: center;
    background-color: #42ba96;
    border-radius: 5px;
    padding: 5%
}

.success>h5 {
    font-size: 18px;
    margin-top: 5%;
}

.success>h3 {
    color: white;
}

#navbar {
    list-style: none;
}

#navbar>li {
    padding: 3px;
}

h2, h3 {
    font-family: 'Bree Serif', serif;
}

h1 {
    font-family: 'Amiri', serif;
}

p {
    font-family: 'Amiri', serif;
    font-size: 18px
}

.hr {
    border: 0.7px solid gray;
}

.award {
    font-family: 'Rock Salt', cursive;
    font-size: 24px;
    margin-left: 10%;
    color: blue;
}

.mediaa {
    padding-top: 3%;
}

@media screen and (max-width: 720px) {
    .mediaa {
        padding-top: 10%;
    }
}